{# src/Musee/BilletterieBundle/Resources/views/layout.html.twig #}

<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Musée du Louvre{% endblock %}</title>
  </head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
<link href="http://localhost/Symfony/web/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="http://localhost/Symfony/web/css/css_general.css" rel="stylesheet">
 <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Dancing+Script">
 <link href="https://fonts.googleapis.com/css?family=Niconne" rel="stylesheet"> 
 <link href="https://fonts.googleapis.com/css?family=Lobster+Two" rel="stylesheet"> 
 <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet"> 
 <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet"> 
   <style>

</style>
  <body>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
  <script>
  
  
  
 
function DisableSpecificDates(date) {
 var m = date.getMonth();
 var d = date.getDate();
 var day = date.getDay();
if(d == 1 && (m == 4 || m == 10)){   return [false] ;  } else { 
if(d == 25 && m == 11){   return [false] ;  } else {
if(day == 0){   return [false] ;  } else { 
if(day == 2){  return [false] ;  } else {  return [true] ; }
}}}}

$( function() {

$( "#form_billetterie_general_date" ).datepicker({
altField: "#form_billetterie_general_date",
closeText: 'Fermer',
prevText: 'Précédent',
nextText: 'Suivant',
firstDay: 1 ,
currentText: 'Aujourd\'hui',
monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
weekHeader: 'Sem.',
dateFormat: 'yy-mm-dd',
minDate: -0, 
maxDate: "+12M +0D",
beforeShowDay: DisableSpecificDates
});

   
   
   
	

  } );
  </script>
    {% block body %}
     
	
	
    {% endblock %}
 <script src="http://localhost/Symfony/web/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>